*{
    margin: 0;
    font-family: 'Lora', serif;
}

.title{
    font-size: 50px;
    margin: 50px;
}


.banda{
    font-size: 25px;
    font-weight: bold;
}

.none{
    list-style-type: none;
}

.ul2{
    list-style-type:square ;
}

table{
    margin: 30px 0 50px 10px;
}

tr,th,td{
    border: 1px solid black;
    padding: 7px;
    text-align: center;
    font-size: 20px;
}