*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(113,8,102,1) 59%, rgba(8,146,173,1) 100%)
} */

.section1{
    display: flex;
    justify-content: space-between;
    
}

.title{
    color: white;
    font-size: 40px;
}
nav{
    margin: 20px;
}
a{
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
}

.subtitle{
    
    text-align: center;
}

.section2{
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

form{
    background-color:aqua;
    padding: 10px;
    width: 250px;
    height: 250px;

}



